*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../img/wave2.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.ticketForm{
    width: 1000px;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.myBlueText{color: #254496;}




