*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.ticketForm{
    width: 900px;
    margin: 0 auto;
}

/* .debugHeight{min-height: 180px;} */



.myBlueText{color: #254496;}
.myBlueBck{background-color: #4c6abb;}
.myLightBck{background-color: #8AC6C1;}
.myGreenBck{background-color: #368A60;}
.myPurpleBck{background-color: #603ca8;}
.myBlueBorder{border: 3px solid #368A60;}
.shadowBox{box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;}



